.appFondo {
    border-radius: 80%;
    padding: 2%;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.Precio {
    font-size: 40px;
    color: rgb(23, 80, 0);
}

h2{
    color: rgb(51, 51, 51);
}

.priceSpam{
    color: blueviolet !important;
}

.product-item-container .Box{
    margin: 0 auto;
}
