
.buttonE {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(32, 32, 32) !important;
    border: 2px solid yellow !important;
    padding: 5px !important;
    margin-left: 10px !important;
    
}

.buttonE:hover, 
.buttonE:focus {
  animation: pulse 1s !important;
  box-shadow: 1 10 10 2em rgba(rgb(189, 52, 52)) !important;
  border: 2px solid yellow;

}

@keyframes pulse {
  5% { box-shadow: 1 0 1 0 var(--hover) !important; }
}