@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Manrope:wght@300;400&family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');


.category {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
  justify-content: center; 
  gap: 8px; 
  padding-top: 3rem;
  padding-bottom: 3rem;
}


@media (max-width: 600px) {
  .category {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-content: center;
    justify-items: center;
    column-gap: 0px;
    row-gap: 0px;
  }
}