@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Manrope:wght@300;400&family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

#contactText{
    font-family: 'Zen Kurenaido', sans-serif !important;
    font-size: 20px;
}
#boxContact {
    height: 100%;
    padding: 8px ;
    justify-content: center !important;
    display: flex;
  }
  #Avatar{
    color: rgb(36, 36, 36);
  }
  #Avatar2{
    color: rgb(36, 36, 36);
  }
  #Avatar3{
    color: rgb(36, 36, 36);
  }
  #Avatar:hover{
    color: #000;
    transform: scale(0.9)
  }
  #Avatar2:hover{
    color: rgb(43, 51, 172);
    transform: scale(0.9)
  }
  #Avatar3:hover{
    color: rgb(184, 59, 177);
    transform: scale(0.9)
  }