
    
            .box-cart {
                position: absolute;
                z-index: 1;
                width: 400px;
                height: auto;
                background: white;
                right: 20px;
                top: 75px;
                box-sizing: border-box;
                border-radius: 5px;
                box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
            }
            
            .box-cart * {
                color: rgb(172, 38, 38);
            }
            
            .box-cart .item-cart-list {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0px 10px;
                border-bottom: 1px solid #d6d6d6;
            }
            
            .box-cart .item-cart-list:nth-of-type(1) {
                border-top: 1px solid #d6d6d6;
            }
            
            .item-cart-img {
                width: 80px;
                padding: 5px 0px;
            }
            
            .item-cart-img img {
                width: 100%;
            }
            
            .box-cart {
                max-height: 500px;
                overflow-y: auto;
            }

            .banner{
                 margin: auto;
                display: block;
            }


            
            
    li{
        list-style-type: none;
        background-color: rgb(221, 221, 221)    ; 
        text-align: right !important;
        padding-left:20px;
        padding-right:20px;
        display: inline;
    }

    ul {
        margin-top: 0px !important;
    }
    
    .buttonB{
        text-decoration: none!important;
        font-size: 20px;
        color: darkorange !important;
        
    }
    
 .buttonB:hover{
    background-color: rgba(241, 245, 6, 0.89) !important;
    color: rgb(189, 19, 19) !important;
    text-decoration: none!important;
    border-radius: 10%;
    }
    
   
    
      
    
            A:link {text-decoration: none!important };
            A:visited {color: black;  font-family: arial; text-decoration: none!important };
            A:hover { color: black; font-family: arial; text-decoration: none !important};

            