@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Manrope:wght@300;400&family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

    
.box-cart {
    position: absolute !important;
    z-index: 1;
    width: 340px;
    height: auto;
    background: white;
    right: 20px;
    top: 75px;
    box-sizing: border-box;
    border-radius: 5px;
    }
            
.box-cart .item-cart-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d6d6d6;
}       

.box-cart .item-cart-list:nth-of-type(1) {
    border-top: 1px solid #d6d6d6;
}
           
.box-cart {
    max-height: 500px;
    overflow-y: auto;
}

.headerApp .banner{
    display: block !important;
    justify-content: center !important;
    margin:auto !important;
    width: 100%;
    height: 100% !important;
}

li{
    list-style-type: none;
    margin-left: 0px !important;
    margin-right: 0px !important;
    display: inline;
    font-family: 'Zen Kurenaido', sans-serif !important;
 }
  
.buttonB{
    text-decoration: none!important;
    font-size: 20px;
    color: rgb(0, 0, 0) !important;
    font-size: 20px !important;
    font-family: 'Zen Kurenaido', sans-serif !important;
}
    
 .buttonB:hover{
    background-color: rgba(36, 36, 36, 0.103) !important;
    text-decoration: none!important;
    border: 0px !important;
    }