
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Manrope:wght@300;400&family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Manrope:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100&display=swap');


.FooterContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    max-height: 30vh;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    padding: 2.5rem;
}

#textF{
    color: rgb(60, 13, 78);
    font-family: 'M PLUS 1p', sans-serif !important;
}
h3 spam {
    color: rgb(51, 58, 14);
    font-family: 'Amatic SC', cursive !important;
    font-size: 40px !important;
}

#comerce{
    color: rgb(53, 12, 12);
    font-size: 20px;
}

.contenido{
    padding: 100px !important;
    padding-block-end: 0!important;
   justify-content: space-between;
    font-family: 'Amatic SC', cursive !important;
}
