.FooterContainer{
    height: 300px;
    background-color: rgb(7, 7, 7);
    margin-top: 50px;
}

.dollar{
    color: rgb(12, 63, 14) !important;
}

.plane{
    color:rgb(37, 37, 37) ;
}

.tablet{
    background-color: rgb(255, 255, 255)!important;
}

.footerC{
    background-color: #fbff19 !important;
}
.footerB{
    background-color: #909090 !important;
}
.footerA{
    background-color: #ffffff !important;
}

h3{
    color: blanchedalmond;
}
h3 spam {
    color: rgb(255, 255, 255);
}
.billing {
    color:black!important;
}