@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Manrope:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Manrope:wght@300;400&family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100&display=swap');
.App {
  margin: 0;
  padding: 0;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.box-cart.active {
  display: block;
}
.box-cart {
  display: none;
}